/* --global-- */
:root {
  --red: #BC382E;
  --orange: #FF8000;
  --green: #388D80;
  --grey: #577783;
  --blue: #4583AA;
  --sky-blue: #7ebfda;
  --dark-grey: #1D2B34;
  --white: #f8f8ff;
}
body, html {
  margin: 0;
  padding:0;
}
#root{
  padding-top: 65px;
  background-color: var(--dark-grey);
  min-height: calc(100vh - 65px);
  font-size: 1.5em;
  color: var(--white);
}
a {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  color: var(--white);
  background: var(--sky-blue);
  border: none;
  border-radius: 10px;
  padding:5px 15px;
  font-size: .9em;
  font-weight: bold;
  transition: transform .3s, background .3s, color .3s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: var(--blue);
}

/* --navbar-- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grey);
  position: fixed;
  padding: 10px 20px;
  box-sizing: border-box;
  width:100%;
  top: 0;
}
.navbar-center > a {
  margin: 0 15px;
}

/* --sign-modal-- */
.sign-modal-background {
  position: fixed;
  height:100vh;
  width: 100vw;
  background: black;
  opacity: .2;
  z-index:1;
}
.sign-modal {
  position: fixed;
  background: var(--dark-grey);
  border-radius: 10px;
  padding: 20px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sign-modal-btn-container {
  display: flex;
  justify-content: space-around;
}

/* --home-- */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #BC382E;
}
.home-panel {
  width:100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel-2 {
  background: #FF8000;
}
.panel-3 {
  background: #388D80;
}

/* --posts--*/
.post-container {
  display:flex;
  flex-direction: column;
  max-width: 700px;
  margin:auto;
  padding: 10px 0;
}
.post-card {
  margin: 10px 20px;
  padding: 15px;
  border-radius: 10px;
}
.post-card > h1 {
  margin: 0;
}
.card-footer {
  font-size: .7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatar-container {
  display: flex;
  align-items: center;
}
.avatar-container > img {
  margin-right: 10px;
}